<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- Jquery CDN --}}
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

  <!-- Materialize CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            
  {{!-- FontAwesome CDN --}}
  <script src="https://kit.fontawesome.com/be7411a50d.js"></script>
  {{!-- Google Fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display:900&display=swap" rel="stylesheet"></script>

  {{!-- Custom Imports --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script src="/js/api.js"></script>
  <script src="/js/maps.js"></script>
  

</head>
<body>
   <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper green">
      <div class="container ">
        <a href="#" class="brand-logo white-text"><span><i class="fas fa-seedling"></i></span> espy <span class= "definition">| to catch sight of</span></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"><i class="fas fa-bars"></i></i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="plantMap"><i class="fas fa-leaf"></i></a></li>
          <li><a href="birdMap"><i class="fas fa-crow"></i></a></li>
          <li><a href="/"><i class="fas fa-home"></i></a></li>
          
        </ul>
        <ul id="mobile-demo" class="sidenav show-on-small" >
          <li><a href="birdMap">Birds</a></li>
          <li><a href="plantMap">Plants</a></li>
          <li><a href="">Map</a></li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
    
  <main>
    {{{body}}}
  </main>
  {{!-- Materialize Scripts --}}

   </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgf_gvbDZZS7sysDvgaBt51Uuc_1ECZM4&callback=initMap">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>

</body>

</html>
