
<div class="map-guide-wrapper">
  <div class="map-guide">
    <h2 class="header">Looking for Birds?</h2>
    <div class="card horizontal">
      <div class="birdMap">
       {{!-- MAP GOES HERE --}}
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>This map shows the different sighting locations of the species you're hoping to espy!</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    </div>
  </div>
<script src="/js/bird.js"></script>