<div id="home" class="container">
  <div class="card">
    <div class="card-content">
      <div>Looking for Birds?</div>
    </div>
  </div>
</div>
<div class="map-guide-wrapper">
  <div class="map-guide">
    <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal">
      <div class="card-image">
       {{!-- MAP GOES HERE --}}
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    </div>
  </div>
<div class="section center-align">
  <div class="center-align">
    <div id="map_2"></div>
  </div>
</div>
<script src="/js/bird.js"></script>