
<div class="map-guide-wrapper">
  <div class="map-guide">
    <h2 class="header">Looking for Birds?</h2>
    <div>
      <div class="birdMap">
        <div id="test1" class="col s12">

    
    <div id="map"></div>
    
  </div>
      