<div class="row">
    <h2 class="header">Looking for Birds?</h2>
</div>

<div id="plant" class="container">
    <div class="card">
        <div class="card-content">
        <div class="aboutBirds">Click any of the icons on our map to see recent bird sightings in your vicinity. Clack andove the map around for even more to discover. Happy Espying!</div>
        </div>
    </div>

<div class="map-guide-wrapper">
 <div class="map-guide">
     <div class="birdMap">
       <div id="test1" class="col s12">
   <div id="map"></div>
 </div>
</div>