<div id="home" class="container">
  <div class="card">
    <div class="card-content">
      <div class="aboutUs">Learn about all the Birds and Plants you see with Espy! Our databases have hundreds of species of plants and waterfowl that are ready for you to discover. Learn where to find what you're looking for, or find out what's right in front of you! </div>
    </div>
  </div>
</div>

<div id="cardContainer" class="container">
  <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-image">
          <img src="https://ontarionature.org/wp-content/uploads/2019/06/poison-ivy-colleen-cirillo-min.jpg">
          <span class="card-title">plants</span>
        </div>
        <div class="card-content">
          <p>Check out some plants native to Ontario. Upload your images and we'll help identify what you've discovered!</p>
        </div>
      </div>
    </div>
        <div class="col s6">
      <div class="card">
        <div class="card-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN_Jlqo9IZlhxFlmBnKeTNqd5wkCpqRUjvmjRIGIEO760v7P6d">
          <span class="card-title">birds</span>
        </div>
        <div class="card-content">
          <p>Avid bird watcher? We'll show you the best places to find the species you have yet to spy! </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/index.js"></script>
