<div class="map-guide-wrapper">
  <div class="map-guide">
    <h2 class="header">Looking for Plants?</h2>
    <div class="card horizontal">
      <div class="plantMap">
       {{!-- MAP GOES HERE --}}
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>This map plots the known locations of the plants you're hoping to espy!</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    </div>
  </div>
<script src="/js/plant.js"></script>