<div class="row">
        <h2 class="header">Looking for Plants?</h2>
</div>

<div id="plant" class="container">
  <div class="card">
    <div class="card-content">
      <div class="aboutBirds">This map plots the known locations of the plants you're hoping to espy!</div>
    </div>
  </div>
</div>

<div id="plantImageUploaded" class="row col s4">
   <div class="card blue-grey darken-1">
     <div class="card-content white-text">
       <span class="card-title">Found a Cool Plant?</span>
       <p>Upload it here! Please note that a clear picture of the entire plant will yield the most accuracy.</p>
     </div>
     <div class="card-action">
       <input id="inputFileToLoad" type="file" onchange="encodeImageFileAsURL();" />
       <div id="imgTest"></div>
       <script type='text/javascript'>
         function encodeImageFileAsURL() {
           var filesSelected = document.getElementById("inputFileToLoad").files;
           if (filesSelected.length > 0) {
             var fileToLoad = filesSelected[0];
             var fileReader = new FileReader();
             fileReader.onload = function(fileLoadedEvent) {
               var srcData = fileLoadedEvent.target.result; // <--- data: base64
               var newImage = document.createElement('img');
               newImage.src = srcData;
               document.getElementById("imgTest").innerHTML = newImage.outerHTML;
               alert("Converted Base64 version is " + document.getElementById("imgTest").innerHTML);
               console.log("Converted Base64 version is " + document.getElementById("imgTest").innerHTML);
             }
             fileReader.readAsDataURL(fileToLoad);
           }
         }
       </script>
     </div>
   </div>
 </div>

<script src="../public/js/plant.js"></script>
